html {
    background-color: paleturquoise;


}

body {
    display: grid;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-rows: 2fr 4fr 1fr;

}



.container {
    display:flex;

    flex-direction: column;
    
    }


.box1 {
    width: 100px;
    height: 50px;
    background-color: teal;
    border: solid 2px black;
    justify-content: center;
    font-size: 30px;



}

.menu1 {
    background-color: teal;
    border: solid 2px black;
    justify-content: center;
    font-size: 56px;
}


a:link {
    text-decoration: none;
}


.footer {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    

    
    
    }


.foot {
    width: 100px;
    height: 50px;
    background-color: teal;
    border: solid 2px black;
    justify-content: center;

    font-size: 30px;



}


header {
    grid-column: 1 / 4;
    text-align: center;
}

nav {
    grid-column: 1 /2;
    grid-template-rows: 2 / 3;
}

section {
    margin-left: 400px;
    margin-right: 400px;

}

aside {
    grid-column: 3 / 4;
    grid-row: 2 /3

    display: grid;
    margin-left: 1600px;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    position: absolute;
}

