html {
    background: radial-gradient(top, #CCDAE0 , #EDF2F4);
}

header { 
text-align: center;
justify-content: center;

    }

h1 {
    color: #EF233C;
    font-family: Impact, sans-serif;
    font-size: 50px;
}

h3 {
    color: #2B2D42;
    /*text-decoration: underline dotted; ou en pointillés ronds*/
    text-decoration: underline dashed;
    font-size: 30px;
}

article {
    border: 1px solid;
}

img {
    width: auto; 
    height: 100px;
    margin-left: auto;
    margin-right:auto;
    display: block;
    border: 2px solid #8D99AE ; 
}

footer {
    text-align: right;
}

ul {
    list-style-type: none;
    }


a:link { 
    color:#D90429;

}

a:visited {
        color: grey ;
    }

a:hover {
    color:#2B2D42; 
}

label {
    display: inline-block; /*permet de faire en sorte que le formulaire se comporte comme un bloc*/
    text-align: justify-all; /*permet de justifier le texte de façon à ce que les extrémités de chaque ligne soient alignées sur les deux marges*/
    width: 150px;

}


input {
    display: inline-block;
    width: 150px;

    }
    
span { 
    color: red;

    }

span{
        margin-bottom: 5px;
        background-color:#EF233C;
        border: none;
        color: black;
        margin: 2px 1px;
        
}

span a:visited {
    color: black ;
}