.container {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr 1fr;
    grid-gap:10px;
    /* max-width:1300px; */
    /* margin-left: auto;
    margin-right: auto; */
    justify-items: center;
    
   
}

ul { 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-gap: 20px;

} 



  /* div {
      width:600px;
      height: 300px;
    
} */

h1 {
    grid-column: 1 / 4;

}

.box1 {
    background-color: teal;
    grid-column: 1 /4;
    grid-row: 2;
    


    /* place-self: center;
    align-items: center; */
    /* text-align: center; */

}

.box2 {
    background-color: tan;
    grid-row: 3 ;

}

.box3 {
    background-color: thistle;
    grid-row: 3 ;

}

.box4 {
    background-color: yellowgreen;
    grid-row: 3 ;

}

footer {
    background-color: tomato;
    grid-column: 1 / span 3;
    grid-row: 4;
    justify-self:start ;
   

}

.menu 1 {
    
}

/* li {
    display: inline-block;
} */