.container {
    display:grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: repeat(5,250px);
    grid-gap:10px;
    max-width:1300px;
    margin-left: auto;
    margin-right: auto;
   
}

  /* div {
      width:600px;
      height: 300px;
    
} */

.box1 {
    background-color: teal;
    grid-column: 1 /4;
    text-align: center;

}

.box2 {
    background-color: tan;
    grid-row: 2 / 4;

}

.box3 {
    background-color: thistle;
    grid-row: 2 / 4;

}

.box4 {
    background-color: yellowgreen;
    grid-row: 2 / 4;

}

.box5 {
    background-color: tomato;
    grid-row: 4 / 5;

}

li {
    display: inline-block;
}